<!-- snapmaker_extended_tab.jinja2 -->

<div id="tab_plugin_snapmaker_extended" class="tab-pane fade in">
    <h1>Snapmaker Extended</h1>
    <button id="autoLevelButton" data-bind="click: performAutoLevel">Auto Bed Leveling</button>
</div>
