<!-- snapmaker_extended_tab.jinja2 -->

<div id="tab_plugin_snapmaker_extended" class="tab-pane fade in">
  <h2>Snapmaker Extended</h2>

  <!-- Auto Bed Leveling Section -->
  <div class="section">
    <h3>Auto Bed Leveling</h3>
    <button id="autoLevelButton" data-bind="click: performAutoLevel">Start Auto Bed Leveling</button>
  </div>

  <!-- Set Initial Z-axis Zero Section -->
  <div class="section">
    <h3>Set Initial Z-axis Zero</h3>
    <!-- Z jogging control panel -->
    <div id="control-jog-z" class="jog-panel">
      <div>
        <!-- Z increment button -->
        <button id="control-zinc" class="btn box" data-bind="enable: isOperational() && !isPrinting(), click: function() { $root.sendJogCommand('z',1) }">
          <i class="fas fa-arrow-up"></i>
        </button>
      </div>
      <div>
        <!-- Z decrement button -->
        <button id="control-zdec" class="btn box" data-bind="enable: isOperational() && !isPrinting(), click: function() { $root.sendJogCommand('z',-1) }">
          <i class="fas fa-arrow-down"></i>
        </button>
      </div>
    </div>

    <!-- Jog distance -->
    <div class="distance">
      <div class="btn-group" data-toggle="buttons-radio" id="jog_distance">
        <!-- ko foreach: distances -->
        <button type="button" class="btn distance" data-bind="enable: $root.isOperational() && !$root.isPrinting(), text: $data, click: function() { $root.distance($data) }, css: { active: $root.distance() === $data }, attr: { id: 'control-distance' + $root.stripDistanceDecimal($data) }"></button>
        <!-- /ko -->
      </div>
    </div>

    <!-- Set Z Zero -->
    <div>
      <button id="ZOffsetButton" data-bind="enable: $root.isOperational() && !$root.isPrinting(), click: setZOffset">Zero Off Worksurface</button>
    </div>
  </div>

  <!-- Test Engraving Section -->
  <div class="section">
    <h3>Test Engraving</h3>
    <button id="engraveTestLinesButton" data-bind="click: engraveTestLines">Run Test Engraving</button>
    <div>
      <label for="selectedLineInput">Selected Line:</label>
      <input id="selectedLineInput" type="number" min="0" max="19" step="1" data-bind="value: selectedLine">
      <button id="setFocusedZOffsetButton" data-bind="click: function() { setFocusedZOffset(selectedLine()); }">Set Focused Z Offset</button>
    </div>
  </div>
</div>
